<!DOCTYPE html>
<html>

<head>
    <title>
        GitGud - helping gamers imrpove by bringing awareness to their gameplay.
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <% if (user) { %>
    <nav>
        <img src="/images/camera.svg">
        <a href="/logout">LOG OUT</a>
    </nav>
    <% } %>