<!DOCTYPE html>
<html>
    <head>
        <title>
            GitGud - helping gamers imrpove by bringing awareness to their gameplay.
        </title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>

    <body>
        <nav>
            <a href="/">
                <img src="/images/assets/gg.svg">
            </a>
            <div id="filler">
            </div>
            <% if (user) { %>
                 <a class="nav-item <%= (title === 'ALL MATCHES') ? 'active' : '' %>" href="/matches">ALL MATCHES</a>
                <a class="nav-item <%= (title === 'NEW MATCH') ? 'active' : '' %>"href="/matches/new">NEW MATCH</a>

                <div class="nav-item">
                    <img class="avatar" src="<%=user.avatar%>">
                </div>
            <% } else { %>
                <div class="nav-item">
                    <a href="/auth/google">LOG IN</a>
                </div>
            <% } %>
        </nav>