<!DOCTYPE html>
<html>
    <head>
        <title>
            GitGud.gg
        </title>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Press+Start+2P&display=swap');
            </style>
        <link rel="icon" href="/images/assets/gg.svg">
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>

    <body>
        <nav>
            <a href="/">
                <img src="/images/assets/gg.svg">
            </a>
            <div id="filler">
            </div>
            <% if (user) { %>
                 <a class="nav-item <%= (title === 'ALL MATCHES') ? 'active' : '' %>" href="/matches">ALL MATCHES</a>
                <a class="nav-item <%= (title === 'NEW MATCH') ? 'active' : '' %>"href="/matches/new">NEW MATCH</a>
                <img class="avatar" src="<%=user.avatar%>"></p>
                <div class="dropdown">
                    <a class="nav-item" href="/users/<%=user._id%>">PROFILE</a>
                    <a class="nav-item" href="/logout">LOGOUT</a>
                </div>
            <% } else { %>
                <div class="nav-item">
                    <a href="/auth/google">LOG IN</a>
                </div>
            <% } %>
            <script>
                document.querySelector('nav .avatar').addEventListener('click', (event) => {
                    document.querySelector('.dropdown').classList.toggle('drop-down-active');
                    document.querySelector('nav .avatar').classList.toggle('avatar-active');
                    document.querySelector('nav .avatar').classList.toggle('.avatar');
                });
            </script>
        </nav>