<%- include('./partials/header') %>

<div class="content-container intro">
  <div class="intro-title">
    <img src="/images/assets/gg-black.svg">
    <h1>GitGud</h1>
  </div>
  <div class="intro-details"> 
    <h4>Helping gamers improve by bringing awareness to their gameplay.</h4>
    <h3>Are you ready to Git Gud?</h3>
  </div>
  <div class="intro-link">
    <a href="/auth/google" class="login"> LOG IN &nbsp; &nbsp;</br><img class="google-logo" src="https://i.imgur.com/FHjYyi0.png"></a>
  </div>
</div>

<%- include('./partials/footer') %>