<%- include('../partials/header') %>

<div class="content-container">
    <h1>It seems like you haven't recorded any matches.</h1>
    <a href="/matches/new" type="button">Add a match</a>
</div>

<%- include('../partials/footer') %>
