* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10%;
  width: 100%;
  padding: 3% 2%;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.google-logo {
  height: 30px;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2vh auto;
  padding: 5% 2%;
  border: 1px solid black;
  width: 95%;
}

.content-h1 {
  margin: 20px auto;
}

.content-header {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

form h3 {
  margin: 20px auto 10px auto;
}

form button {
  margin: 20px auto;
}


.char-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.char-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.score-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}

.details-button {
  display: flex;
  margin-top: 0;
  margin-bottom: auto;
  background-color: #00B7FF;
}

.match-container {
  margin: 15px auto;
  padding: 5px;
}

.match-container, .match-details {
  width: 90%;
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
}

.match-container > form {
  transform: rotate(90deg);
}

.note {
  margin: 5% auto;
}

.note-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 2% auto 0 auto;
  border: 1px solid black;
  border-bottom: 0;
  width: 80%;
  height: 50px;
}

.note-options {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 95%;
}

.note-options > div {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.note-content {
  width: 80%;
  margin: 0 auto;
  border: 1px solid black;
  padding: 5%;
}

.note-poster {
  border: 1px solid black;
  border-top: 0px;
  width: 80%;
  margin: 0 auto;
  border-radius: 0px 0px 25px 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.note-avatar {
  border-radius: 50%;
  height: 75px;
  margin: 10px;
}

#add-note {
  width: 80%;
}

textarea[name="content"]{
  width: 90%;
  height: 150px;
  margin: 20px auto;
}

.avatar {
  width: 20%;
  height: 60%;
  margin: 0 4%;
  border: 1px solid black;
}

.scores {
  margin-right: auto;
}

.result {
  width: 20%;
  height: 70%;
  margin: 0 0 0 15%;
  border: 1px solid black;
  text-align: center;
}

.match-details > .result {
  width: 20%;
  height: 70%;
  margin: 0 4%;
  border: 1px solid black;
  text-align: center;
}

.match-details {
  margin-top: 10%;
}

.notes-container {
  align-items: center;
  text-align: center;
  width: 90%;
}

.add-sign {
  font-size: 48px;
  text-decoration: none;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  line-height: 0px;
}

.score-container > div{
  display: flex;
  flex-direction: column;
}

.score-container {
  display: flex;
  justify-self: center;
}

.weapons-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

footer {
  text-align: center;
  width: 100%;
  height: 50px;
  font-size: 15px;
  background-color: black;
  color: white;
  box-shadow: 0px 0px 10px gray;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
}