* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  height: 100%;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  overflow: scroll;
  overflow-x: hidden;
  background-color: rgb(176, 176, 176);
  font-family: 'Electrolize', sans-serif;
}

.scroll-disabled {
  overflow: hidden;
}

a {
  color: white;
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  padding: 1vh 0;
  background-color: rgb(34, 34, 36);
  color: white;
}

nav img {
  height: 45px;
  width: 45px;
  margin-left: 15px;
}

nav img:hover {
  animation: icon-hover 0.5s forwards;
}

@keyframes icon-hover {

  100%{
    -webkit-filter: drop-shadow( 0px 0px 5px rgba(201, 201, 201));
    filter: drop-shadow( 0px 0px 5px #00B7FF);
    transform: scale(1.10);
  }
}

.nav-item {
  flex-grow: 1;
  display: flex;
  align-items: center;
  height: 50px;
  text-align: center;
  justify-content: center;
  -webkit-text-stroke: 0.1px  black;
}

.nav-item:hover, .avatar a:hover {
  cursor: pointer;
  animation: buttonHover 0.5s forwards;
}

@keyframes buttonHover {
  100%{
    text-shadow: 
    0px 0px 4px whitesmoke,
    0px 0px 8px #00B7FF;
    transform: scale(1.10);

  }
}

.active {
  text-shadow: 
  0px 0px 1px black,
  0px 0px 4px whitesmoke,
  0px 0px 8px #00B7FF;
  transform: scale(1.10);
}

.avatar-active {
  height: 40px;
  width: 40px;
  cursor: pointer;
  box-shadow: 
  0px 0px 1px black,
  0px 0px 4px whitesmoke,
  0px 0px 8px #00B7FF;
  transform: scale(1.05);
}

#filler {
  flex-grow: 11;
}

nav .avatar{
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin: 10px;
  margin-right: 25px;
  cursor: pointer;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.google-logo {
  height: 30px;
}


.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2vh auto;
  padding: 5vh 1vw;
  border: 3px solid black;
  width: 85vw;
  z-index: 49;
  box-shadow: 
  0px 0px 7px black inset;
  background-color: rgb(67, 67, 67)
}

.content-container > h1, .content-h1{
  color: white;
  text-shadow: 0px 1px 0px black,
  1px 2px 0px #00B7FF
}

.dropdown {
  display: none;
}


.drop-down-active {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 80px;
  position: absolute;
  top: 50px;
  right: 0;
  background-color: rgb(34, 34, 36);
  width: 100px;
  z-index: 50;
};

.intro-title {
  padding-bottom: 30px;
}

.intro-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 10vh;
  text-align: center;
}

.intro-link { 
  margin-top: 3vh;
  text-align: center;
}

.intro-link a {
  color: black;
}

.intro-link:hover {
  cursor: pointer;
  animation: buttonHover 0.5s forwards;
}

.intro-link img {
  white-space: pre-line;
}

.index-match-container {
  width: 70vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
}

.uh-oh {
  margin: 0 auto;
  text-align: center;
}

.content-h1 {
  margin: 20px auto;
}

.content-header {
  text-align: center;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  color: white;
}

form h3 {
  margin: 20px auto 10px auto;
}

form button {
  margin: 20px auto;
}


.char-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.char-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.score-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  text-align: right;
  width: 80%;
}

.match-container {
  margin: 15px auto;
  width: 70vw;
  height: 20vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
  border-right: 0;
  padding-left: 15px;
  box-shadow: 0px 2px 2px gray;
  background-color: whitesmoke;
}

.match-container .avatar {
  height: 18vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.match-container .avatar img {
  height: 13vh;
  width: 15vw;
  display: flex;
  flex-direction: column;
  flex-grow: 3;
}

.match-container .scores {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 4;
  width: 50vw;
  height: 15vh;
  margin: 0 3vw;
}

.match-container .scores h4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  float: left;
}

.match-container .scores span {
  font-size: 36px;
}


.match-container .result {
  width: 20vw;
  height: 18vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  margin-left: 20px;
}

.match-container .result h1 {
  font-size: 80px;
}

.match-container .details-button-container {
  transform: rotate(90deg);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5vw;
  flex-grow: 1;
  margin-left: 5vw;
}

.details-button {
  display: flex;
  background-color: #00B7FF;
  width: 20vh;
  height: 5vw;
  border: 0;
  justify-content: center;
  cursor: pointer;
}

.details-button:hover {
  transform: scale(1.025);
}

.details-button:active {
  transform: scale(1.0125);
}


.user-link {
  text-decoration: none;
  color: black;
}

.options-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50vw;
  height: 15vh;
  padding: 10px;
  border: 2px solid black;
  border-top: 0px;
  margin-bottom: 20px;
  border-radius: 0px 0px 10px 10px;
  background-color: black;
  color: white;
  box-shadow: 0px 2px 4px gray;
}

.options-container img {
  border: none;
  -webkit-filter: drop-shadow( 0px 0px 1px white);
  filter: drop-shadow( 0px 0px 1px white);
}

.match-details {
  width: 80vw;
  height: 25vh;
  margin-top: 5vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
  background-color: white;
  box-shadow:
  0px -4px 2px #00B7FF inset,
  0px 0px 2px white,
  0px 0px 5px black,
  0px 2px 6px black;
}

.match-details .avatar {
  width: 20vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-grow: 1;
}

.match-details .avatar img {
  height: 15vh;
  width: 15vw;
  display: flex;
  flex-direction: column;
  
}

.match-details .scores {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  width: 15vw;
  flex-grow: 3;
}


.match-details .scores h4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.match-details .scores span {
  font-size: 36px;
}

.match-details .result {
  width: 20vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
}

.match-details .result h1 {
  font-size: 80px;
}

.match-details .weapons {
  display: flex;
  width: 75vw;
  height: 20vh;
  justify-content: space-evenly;
  align-items: center;
 
}

.match-details + .weapons-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 3px solid black;
  border-top: none;
  width: 70vw;
  background-color: rgb(85, 85, 85);
  color: white;
  box-shadow:
  0px 0px 3px black,
  0px 2px 4px black,
  0px 3px 5px white;  
}
.match-details + .weapons-container h3 {
  margin: 2vh auto;
}


.match-details + .weapons-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 18vh;
}

.match-details + .weapons-container img {
  height: 10vh;
  width: 30vw;
  background: white;
  box-shadow:
  0px -4px 2px #00B7FF inset,
  0px 0px 2px white,
  0px 0px 5px black,
  0px 2px 6px black;
  margin-bottom: 5px;
}

.notes-container {
  align-items: center;
  text-align: center;
  width: 85vw;
  color: white;
}

.add-sign {
  font-size: 48px;
  text-decoration: none;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  line-height: 0px;
}

.score-container > div{
  display: flex;
  flex-direction: column;
}

.score-container {
  display: flex;
  justify-self: center;
}

.note {
  margin: 5% auto;
}

.note-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 2% auto 0 auto;
  border: 1px solid black;
  border-bottom: 0;
  width: 70vw;
  height: 50px;
  background-color: black;
}

.note-options {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 95%;
}

.note-options > div {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.note-content {
  width: 75vw;
  margin: 0 auto;
  border: 1px solid black;
  padding: 2vh 2vw;
  background-color: white;
  box-shadow: 0px 0px 30px black inset;
  color: black;
}

.note-poster {
  border: 1px solid black;
  border-top: 0px;
  width: 50vw;
  margin: 0 auto;
  border-radius: 0px 0px 25px 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: white;
  box-shadow: 0px 2px 4px gray;
}

.note-avatar {
  border-radius: 50%;
  height: 75px;
  margin: 10px;
  border: none;
  box-shadow: 0px 0px 2px white,
  0px 0px 5px white,
  0px 1px 4px #00B7FF
}

#add-note {
  width: 80%;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 85vw;
  margin-top: 5vh;
}

.profile-avatar {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  align-items: center;
  height: 20vh;
  background-color: black;
  color: white;
}

.profile-avatar div {
  display: flex;
  flex-direction: column;
}

.profile-score {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-score > h2 {
  margin-bottom: 6px;
  border: 1px solid black;
  text-align: center;
  width: 50vw;
  background-color: black;
  color: white;
}

.profile-score .score-details {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 50vw;
  padding: 5px;
  background-color: black;
  color: white;
}

.profile-score .score-details div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40vw;
  margin: 0 auto;
}

.profile-favorites {
  margin-top: 20px;
  display: flex;
  border: 1px solid black;
  padding: 30px;
  width: 78vw;
  flex-direction: column;
  justify-content: space-evenly;
  height: 55vh;
  background-color: black;
  color: white;
}
.profile-favorites div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profile-favorites, .profile-avatar, .profile-score > h2, .profile-score .score-details {
  box-shadow: 
  0px 1px 0px black,
  0px 2px 0px white,
  0px 3px 1px #00B7FF,
  0px 4px 0px gray;
}

#fave-char {
  width: 100px;
}

#fave-weapon, #fave-char {
  height: 100px;
  background: white;
  box-shadow:
  0px -4px 2px #00B7FF inset,
  0px 0px 2px white,
  0px 0px 5px black,
  0px 2px 6px black;
  margin: 10px auto;
}

textarea[name="content"]{
  width: 90%;
  height: 150px;
  margin: 20px auto;
  padding: 20px;
}


footer {
  text-align: center;
  width: 100%;
  height: 50px;
  font-size: 15px;
  background-color: black;
  color: white;
  box-shadow: 0px 0px 10px gray;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  bottom: 0;
  z-index: 49;
}

.backdrop {
  z-index: 50;
  background-color:rgb(34, 34, 36);
  background-size: cover;
  opacity: 0.7;
  height: 100vh;
  width: 100%;
  position: absolute;
}


.modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 15vh;
  left: 15vw;
  align-items: center;
  width: 70vw;
  border: 1px solid black;
  box-shadow: 0px 5px 10px whitesmoke;
  background: white;
  margin: auto;
  z-index: 51;
  text-align: center;
  padding-bottom: 5vh;
  background-color: black;
  color: white;
}

.modal h1 {
  margin: 5vh 0;
  
}

.hidden {
  display: none;
}

#update-match {
  border: 1px solid white;
  height: 70%;
  width: 80%;
  display: flex;
  flex-direction: column;
  padding-top: 4%;
  
}

#update-match .score-container {
  margin-top: 20px;
}

#update-match .score-container div label {
  margin: 5px auto;

}

#update-match .weapons-container {
  height: 20vh;
  width: 40vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

#update-match .button-container { 
  margin: 0 auto;
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.x-close {
  position: absolute;
  top: 0;
  right: 5%;
  cursor: pointer;
}

#close-btn{
  margin: 0 auto;
  cursor: pointer;
}

button {
  cursor: pointer;
  box-shadow: 
  0px 3px 0px gray,
  0px 5px 1px black
}

button:hover {
  animation: flash 0.5s forwards;
}

@keyframes flash {
  100% {
    color:white;
    background-color: #00B7FF
  }
}

button:active {
  color: white;
  box-shadow: 
  0px 0px 2px white,
  0px 0px 5px white,
  0px 1px 4px #00B7FF;
  transform: translateY(3px);
}

button:disabled {
  box-shadow: 
  0px 3px 0px gray,
  0px 5px 1px black
}

.icon {
  cursor: pointer;
  height: 35px;
  width: 35px;
}

.icon:hover {
  transform: scale(1.05);
}

.confirmation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
}

.confirmation div{
  margin: 0 auto;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.confirmation div button {
  margin: 0;
}

input {
  padding: 2px;
}



.intro {
  background-color: white;
}
